/* Page Set Up */

body{
  margin:0 ;
  padding:0;
  background-color: aquamarine;
}
/* Page Set Up End */


/* App.js CSS */

.physical-container{
  /* border: solid red; */
  font-family: 'Dosis', sans-serif;
}
/* App.js CSS End */

/* Header.js */

.header-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.headerquote{
  font-style: italic;
}