*{
  padding: 5px;
}

/* Navbar css */

nav{
  min-height: 7vh;
  background-color:lightgray;
}

.navbarUL{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 20px;
} 

ul li{
  list-style: none;
}