/* Page Set Up */

body{
  margin:0;
  padding:0;
  /* background-color: azure; */
}
 /* Page Set Up End */
@media screen and (max-width: 1200px) and (min-width: 350px), (max-height: 1200px) and (min-height: 350px) {
  body {
    background-color: rgb(68, 248, 209);
  }
} 

/* Home Page css */
.homeContainer{
  text-align: center;
} 
.logoContainer{
  padding-top: 10%;
}

/* PhysicalHealth.js */

.physical-container{
  font-family: 'Dosis', sans-serif;
  font-size: 23px;
}

.headerquote{
  font-style: italic;
}

.phys-center{
  text-align: center;
}

/* Physical Health Card Single */

.tip-singular-holder{
  width:50%
}
div.tip-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spacer{
  margin-top: 3px;
  margin-bottom: 10px;
  padding:0px
}
*{
  padding: 5px;
  text-decoration: none;
  /* display: flex; */
}

.phys-image-size{
  height:50px;
  width:50px;
  float: right;
}

.mind-holder{
  border-radius: 25px;
  margin-bottom: 20px;
}

/* Navbar css */

nav{
  min-height: 7vh;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  /* background-color:lightsteelblue */
  font-family: 'Dosis', sans-serif;
}

.navbarUL{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 30px;
  text-decoration: none;
} 

ul li{
  list-style: none;
  color: black;
  text-decoration: none;
}

.homeLink-nav{
  margin-right: 50px;
}

.physicalHealth-nav{
  margin-right: 50px;
}

.mentalHealth-nav{
  margin-right: 50px;
}

.chatBot-nav{
  margin-right: 50px;
}

.usefulLinks-nav{
  margin-right: 50px;
}

.signIn-nav{
  margin-right: 10px;
}

.foodBank-nav{
  margin-right: 50px;
}

/* chatbot css */

.chatbotContainer{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.chatbot{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* usefull Links css */

.usefulContainer{
  font-size: 23px;
}

.usefultitleContainer{
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.link{
  color: rgb(55, 5, 233);
}

/* signIn and signup css */

.login{
  font-size: 30px;
}

/* food bank */

.foodbank-container{
  font-family: 'Dosis', sans-serif;
}